# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX intermediate files
*.dvi
*.xdv
*-converted-to.*

# Bibliography auxiliary files
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# Build tool auxiliary files
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Auxiliary and intermediate files from other packages
*.alg
*.loa
*.nav
*.snm
*.vrb
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.nlo
*.idx
*.ilg
*.ind

# OS files
.DS_Store
Thumbs.db
